:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: hsl(219, 14%, 63%);
}

body {
    background: hsl(210, 60%, 98%);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.main {
    background: white;
    margin: 0 auto;
}

.main__menu {
    display: flex;
    align-items: center;
    padding: 1.2em;
}

.main__h1 {
    font-size: 2rem;
    color: hsl(224, 21%, 14%);
    margin: 0 0.6em;
}

.main__btn-read {
    width: 10%;
    background: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.main__img-icon {
    width: 4rem;
    margin: 0 1.5em;
}

.main__notifications-count {
    background: hsl(219, 85%, 26%);
    width: 3%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.main__notifications-div {
    padding: 4em;
}

.main__notification {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
    padding: 2em;
    font-size: 1.2rem;
}

.main__text {
    margin: 0.5em;
    flex-grow: 3;
}

.dark-blue-font {
    color: hsl(219, 12%, 42%);
}

.bold {
    font-weight: 700;
}

.wrap {
    display: block;
}

.position-under-right {
    position: absolute;
    bottom: -4em;
    right: -1.5em;
    width: 3rem;
}

.border-gray {
    border: 1px solid hsl(205, 33%, 90%);
    padding: 1em;
    border-radius: 15px;
}

.align-right {
    margin-left: auto;
}