:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: hsl(219, 14%, 63%);
}

body {
    background: hsl(210, 60%, 98%);
}


.main {
    width: 50%;
    background: white;
    margin: 5% auto;
    line-height: 1.8em;
    border-radius: 30px;
}

.main__menu {
    display: flex;
    align-items: flex-end;
    padding: 1.5em;
    padding-bottom: 0;
}

.main__h1 {
    font-size: 1.7rem;
    color: hsl(224, 21%, 14%);
    margin-right: 0.3em
}

.main__btn-read {
    width: 15%;
    background: white;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1em;
}

.main__img-icon {
    width: 4rem;
    margin: 0 1.5em;
    display: block;
}

.main__notifications-count {
    background: hsl(219, 85%, 26%);
    width: 20px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.main__notifications-div {
    padding: 2em;
    padding-top: 0;
}

.main__notification {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    width: 90%;
    margin: 2em;
    padding: 1.1em;
    font-size: 1.2rem;
}

.main__text {
    margin: 0.5em;
    flex-grow: 3;
}

.dark-blue-font {
    color: hsl(219, 12%, 42%);
}

.bold {
    font-weight: 700;
}

.wrap {
    position: absolute;
    bottom: 0.3em;
    left: 9em;
}

.position-under-right {
    position: absolute;
    bottom: -4em;
    width: 3.5rem;
}


.border-gray {
    border: 1px solid hsl(205, 33%, 90%);
    padding: 1em;
    border-radius: 15px;
}

.align-right {
    margin-left: auto;
}

.unread {
    background: hsl(211, 68%, 94%);
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 15px;
    cursor: pointer;
}

.read {
    background: hsl(211, 68%, 94%);
}

.unread::after {
    content: '';
    height: 1.3rem;
    width: 1.3rem;
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 30px;
}

@media (max-width: 1400px) {
    :root {
        font-size: 12px;
    }

    .unread::after {
        right: 5px;
    }

    .wrap {
        bottom: 0.1em;
    }

    .position-under-right {
        right: -50px;
    }
}

@media (max-width: 850px) {
    :root {
        font-size: 14px;
    }

    .main__notification {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .wrap {
        position: static;
    }
}

@media (max-width: 600px) {
    :root {
        font-size: 11px;
    }

    .wrap {
        font-size: 0.8em;
    }

    .main__menu {
        padding: 0.5em;
    }
}