:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: hsl(219, 14%, 63%);
}

body {
    background: hsl(210, 60%, 98%);
}


.main {
    width: 50%;
    background: white;
    margin: 5% auto;
    line-height: 1.8em;
    border-radius: 30px;
}

.main__menu {
    display: flex;
    align-items: flex-end;
    padding: 1.2em;
    padding-bottom: 0;
}

.main__h1 {
    font-size: 2rem;
    color: hsl(224, 21%, 14%);
    margin: 0 0.6em;
}

.main__btn-read {
    width: 15%;
    background: white;
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: 1em;
}

.main__img-icon {
    width: 4rem;
    margin: 0 1.5em;
}

.main__notifications-count {
    background: hsl(219, 85%, 26%);
    width: 3%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.main__notifications-div {
    padding: 4em;
    padding-top: 1em;
}

.main__notification {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    width: 90%;
    margin: 2em;
    padding: 1.3em;
    font-size: 1.2rem;
}

.main__text {
    margin: 0.5em;
    flex-grow: 3;
}

.dark-blue-font {
    color: hsl(219, 12%, 42%);
}

.bold {
    font-weight: 700;
}

.wrap {
    position: absolute;
    bottom: 0.8em;
    left: 9em;
}

.position-under-right {
    position: absolute;
    bottom: -6em;
    right: -1.5em;
    width: 3rem;
}

.position-left {
    position: absolute;
    bottom: -2.5em;
    left: 33em;
}

.border-gray {
    border: 1px solid hsl(205, 33%, 90%);
    padding: 1em;
    border-radius: 15px;
}

.align-right {
    margin-left: auto;
}

.unread {
    background: hsl(211, 68%, 94%);
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 15px;
    transition: background-color 2s ease-in-out;
    animation: blink linear 1.5s infinite ease-in-out;
    cursor: pointer;
}

.read {
    background: hsl(211, 68%, 94%);
}

.unread::after {
    content: '';
    height: 20px;
    width: 20px;
    background-color: hsl(1, 90%, 64%);
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 30px;
}

@-webkit-keyframes blink {

    0%,
    50% {
        background: hsl(211, 68%, 94%);
    }

    60%,
    80% {
        background: hsl(212, 15%, 77%);
    }
}

@keyframes blink {

    0%,
    50% {
        background: hsl(211, 68%, 94%);
    }

    60%,
    80% {
        background: hsl(212, 15%, 77%);
    }
}